/* 字体声明 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?6iwr8h');
    src:  url('../fonts/icomoon.eot?6iwr8h#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?6iwr8h') format('truetype'),
      url('../fonts/icomoon.woff?6iwr8h') format('woff'),
      url('../fonts/icomoon.svg?6iwr8h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
/* header区域开始 */
.topline {
    width: 100%;
    height: 116px;
    border-top: 4px solid #28628E;
}
.topline .topdiv {
    height: 112px;
    background: url(../images/bg_logo.png) no-repeat 0 0;
}
.log {
    float: left;
    width: 615px;
    height: 60px;
    margin-top: 20px;
}
.log h1 a {
    display: block;
    width: 615px;
    height: 60px;
    background: url(../images/rgzn_logo.png) no-repeat;
    font-size: 0;
}
.top_fr {
    float: right;
    width: 320px;
    height: 91px;
    padding-top: 15px;
}
.top_fr .top_fr_text {
    float: right;
    width: 127px;
    height: 18px;
}
.top_fr .top_fr_text span {
    color: #999999;
    margin: 0 3px;
}
.top_fr .top_fr_text a:first-child {
    margin-left: 8px;
}
.top_fr .top_fr_text a {
    color: #999999;
}
.top_fr .top_fr_text a:hover {
    color: #28628E;
}
.top_fr .top_fr_search {
    position: relative;
    float: right;
    width: 287px;
    height: 38px;
    margin-top: 15px;
}
.top_fr .top_fr_search input {
    width: 287px;
    height: 38px;
    border: 1px solid #dedede;
    border-radius: 20px;
    padding-left: 18px;
}
.top_fr .top_fr_search button::after {
    position: absolute;
    right: 10px;
    bottom: 3px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    content: '\e900';
    font-family: 'icomoon';
    font-size: 22px;
    color: #b3b0b0;
    text-align: center;
}
.top_fr .top_fr_search button:hover::after {
    color: #28628E;
}
/* 头部区域结束 */
/* 侧边栏开始 */
aside {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 61px;
    width: 33px;
    height: 33px;
    line-height: 33px;
    border-radius: 14px;
    text-align: center;
    background-color: rgba(97, 97, 97, 0.3);
}
aside::after {
    content: '\ea3a';
    font-family: 'icomoon';
    color: #fff;
    font-size: 16px;
}
/* 侧边栏结束 */
/* nav区域开始 */
.nav {
    width: 100%;
    height: 50px;
    background-color: #28628E;
}
.nav_if {
    width: 976px;
    height: 50px;
    margin: 0 auto;
}
.nav_if ul li {
    float: left;
    position: relative;
    width: 122px;
    height: 50px;
    line-height: 50px;
}
/* .nav_if ul li:hover {
    background: #313f4c;
} */
.crt {
    background: #313f4c;
}
.nav_if ul li a {
    padding: 0 29px;
    color: #FFF;
    font-size: 16px;
}
.nav_if ul li dl {
    display: none;
    font-size: 15px;
    background: #313f4c;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 122px;
    z-index: 9999;

}
/* nav区域结束 */
/* footer开始 */
.footer {
    margin-top: 15px;
    height: 60px;
    line-height: 60px;
    background-color: #28628E;
}
.footer p {
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
}
/* footer结束 */



